Trabalho 4/Seminário/Filtro de Gabor/asp 1.jpg
Trabalho 4/Seminário/Filtro de Gabor/asp 2.jpg
Trabalho 4/Seminário/Filtro de Gabor/asp.jpg
Trabalho 4/Seminário/Filtro de Gabor/br 1.jpg
Trabalho 4/Seminário/Filtro de Gabor/br 2.jpg
Trabalho 4/Seminário/Filtro de Gabor/br.jpg
Trabalho 4/Seminário/Filtro de Gabor/camera 1.jpg
Trabalho 4/Seminário/Filtro de Gabor/camera 2.jpg
Trabalho 4/Seminário/Filtro de Gabor/camera.jpg
Trabalho 4/Seminário/Filtro de Gabor/digital 1.jpg
Trabalho 4/Seminário/Filtro de Gabor/digital 2.jpg
Trabalho 4/Seminário/Filtro de Gabor/digital.jpg
Trabalho 4/Seminário/Filtro de Gabor/Diogo.txt
Trabalho 4/Seminário/Filtro de Gabor/Filtro de Gabor Relatório.docx
Trabalho 4/Seminário/Filtro de Gabor/Filtro de Gabor Relatório.pdf
Trabalho 4/Seminário/Filtro de Gabor/gabor_example.m
Trabalho 4/Seminário/Filtro de Gabor/gabor_fn.m
Trabalho 4/Seminário/Filtro de Gabor/lena 1.jpg
Trabalho 4/Seminário/Filtro de Gabor/lena 2.jpg
Trabalho 4/Seminário/Filtro de Gabor/lena.jpg
Trabalho 4/Seminário/Filtro de Gabor/lua 1.jpg
Trabalho 4/Seminário/Filtro de Gabor/lua 2.jpg
Trabalho 4/Seminário/Filtro de Gabor/lua.jpg
Trabalho 4/Seminário/Filtro de Gabor/pout 1.jpg
Trabalho 4/Seminário/Filtro de Gabor/pout 2.jpg
Trabalho 4/Seminário/Filtro de Gabor/pout.jpg
Trabalho 4/Seminário/Filtro de Gabor/Seminário Filtro de Gabor.pptx
Trabalho 4/Seminário/Filtro de Gabor/vaca 1.jpg
Trabalho 4/Seminário/Filtro de Gabor/vaca 2.jpg
Trabalho 4/Seminário/Filtro de Gabor/vaca.jpg
Trabalho 4/Seminário/Filtro de Gabor/zebra 1.jpg
Trabalho 4/Seminário/Filtro de Gabor/zebra 2.jpg
Trabalho 4/Seminário/Filtro de Gabor/zebra.jpg
(HD) PIXELATION - Short Film.mp4
19619596_1769335943082932_440764833_o.jpg
19650132_1769335759749617_569599420_o.jpg
ANIMAÇÃO.docx
Animação.pptx
desenho-respostas.txt
Dissertação - Flávia Christina Leite Brandão - 2013 (2).pdf
Imagem_desenho.pdf
Imagem_representação digital.pdf
Imagem_video.pdf
Multimidia_20062017.pdf
Multimídia_processamento do som.pdf
p1.docx
P2-Lista-de-Exercícios.pdf
TD-trab1-histogramas.pdf
Tecnicas_de_Animacao_A_TECNICA_DO_DESENH.doc
trabalho 4_imagens.pdf
trabalho 5_ animacao ou realidade virtual.pdf
Trabalho 5.docx
Trabalho3 _2pontos.pdf
videos-respostas.txt
